.title {
  font-size: 61px;
    font-weight: 500;
    font-family: cursive;
    color: #8c1f1f;
    text-shadow: 1px -1px 1px #ffffff;
}
.subtitle {
  font-size: 25px;
  padding-top: 10px;
     color: #476159;
  font-family: monospace;
}
.intro-text {
  width: 100%;
  text-align: center;
}
.main {
  min-height: 93vh;
  display: flex;
  align-items: center;
  background-image: url("../../../public/assets/backgound3.jpg");
  background-position: center;
  background-size: cover;
}
.buttonContainer {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.landingbutton {
  /* width: 300px;
  height: 55px; */
}

@media only screen and (min-width: 1200px) {
  .buttonContainer {
    padding: 0 200px;
  }
  .title {
    padding: 0 100px;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 60px;
  }
  .landingbutton {
    width: 150px;
    height: 50px;
  }
}